$primary: #00d8ff;
$pri-light: #61dafb;
$pri-lighter: #deebf8;
$secondary: #21222a;
$sec-light: #282d35;

html,
body {
	background-color: $sec-light;
}

.container {
	background-color: $sec-light;
	nav {
		background-color: $secondary;
		color: $pri-light;
		display: flex;
		justify-content: space-between;
		align-items: center;

		.brand {
			display: flex;
			.nav-logo {
				width: 40px;
			}
		}
		.title {
			color: $pri-lighter;
			margin: 1rem;
		}
	}
}
