.container {
	margin: 0 auto;
	width: 50vw;
	background-color: slategray;
	padding: 3rem;
	nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin: 0 -3rem;
		background: gray;

		.nav-logo {
			width: 4rem;
		}
		.nav-items {
			width: 50%;
			display: flex;
			justify-content: space-around;
			margin: 0;
			padding: 0;
			list-style: none;
			li {
				padding: 1rem;
				font-size: 1.5rem;
				font-weight: bold;
				&:hover {
					background-color: white;
				}
			}
		}
	}
}
